@model string

<h2>Acesso Negado</h2>
<p>Desculpe, você não tem permissão para acessar esta página.</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Voltar para a Página Inicial</a>
