<form asp-action="Login">
    <input name="email" placeholder="Email" type="email" required />
    <input name="password" placeholder="Senha" type="password" required />
    <button type="submit">Login</button>
</form>
